<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="lang" content="en">
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/styles.css?20190224">
        {% endblock head %}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ SITEURL }}/theme/favicon/icon-180x180.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ SITEURL }}/theme/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ SITEURL }}/theme/favicon/favicon-16x16.png">
</head>

<body id="top" class="{% block body_class %}{% endblock %}">
    <div>
      <section id="title">
      <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
      {% block content_title %}
        {% include 'snippets/intro.html' %}
      {% endblock %}
      </section>
    </div>
    <!-- <nav id="menu">
      <ul>
        <li><a href="office.html" id="menu-item-office" {% if '/'+output_file == link %}class="active"{% endif %}>office</a></li>
        <li><a href="tags.html" id="menu-item-tags" {% if '/'+output_file == link %}class="active"{% endif %}>tags</a></li>
        <li><a href="#" id="menu-item-print" {% if '/'+output_file == link %}class="active"{% endif %}>print</a></li>
      </ul>
    </nav> -->
    <!-- /#menu -->
    {% block content %}
    <section id="content">
        <h1 id="sticky-title"><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
    </section>
    {% endblock %}
    <footer id="contentinfo" class="body">
    <!-- /#about -->
    </footer><!-- /#contentinfo -->
</body>
</html>
