{% extends "base.html" %}
{% block body_class %}index{%endblock%}
{% block content %}
<section id="content">
  <section id="sticky-title">
    <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
    
    <section id="taglist" class="show-all">
        {%- for list_tag, _ in tags|sort %}
            <a href="{{ SITEURL }}/{{ list_tag.url }}" data-slug="{{ list_tag.slug }}" class="tag{% if tag and tag.slug == list_tag.slug %} active{% endif %}">{{ list_tag }}</a> <!-- ({{ articles|count }}) -->
        {% endfor %}
        <span class="show-all-toggle"></span>
    </section>
</section>
<section id="postlist">
    <article id="print-cover">
        {% include 'snippets/intro-print.html' %}
        <section class="print-metadata">
            <section class="tags"></section>
            <section class="date"></section>
        </section>
    </article>
    
    {% if articles_page %}
    {% for article in articles_page.object_list %}
    <article class="entry" data-slug="{{ article.slug }}" data-expanded="true">
        <div class="entry-content">
            {% if article.image %}
            <!-- <object data="{{ SITEURL }}/images/{{ article.image }}" class="entry-img" type="image/svg+xml"></object> -->
            <img src="/images/{{ article.image }}" class="entry-img" />
            {% endif %}
        </div><!-- /.entry-content -->
        <section class="metadata">
            {% if article.content %}
            <section class="summary">{{ article.summary }}</section>
            <section class="content">{{ article.content }}</section>
            <section class="toggle"></section>
            {% endif %}
            <section class="tags">
                {% for article_tag in article.tags %}
                    <a href="{{ SITEURL }}/{{ article_tag.url }}" data-slug="{{ article_tag.slug }}" class="tag {% if tag and tag.slug == article_tag.slug %}active{% endif %}">{{ article_tag }}</a>
                {% endfor %}
            </section>
        </section>
    </article>
    {% endfor %}
    {% endif %}
</section><!-- /#posts-list -->
{% if articles_page and articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}  
<a id="back-to-top" href="#top">↑</a>

</section><!-- /#content -->

<script src="{{ SITEURL }}/theme/js/tags.js?20190224"></script>
<script src="{{ SITEURL }}/theme/js/print.js?20190224"></script>
{% endblock content %}