{% extends "base.html" %}
{% block title %}{{ SITENAME }}{%endblock%}
{% block body_class %}page {{ page.slug }}{%endblock%}
{% block content %}
  <section class="{{page.slug}} page-content">
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}

    {{ page.content }}

	{% if page.modified %}
		<p>
		Last updated: {{ page.locale_modified }}
		</p>
	{% endif %}
  <a id="back-to-top" href="#top">↑</a>
  </section>
{% endblock %}
