<section id="mama-description">
  <p>
    MAMA is a developing spatial practice to whom maintenance matters. 
    This website collects a wide range of our reflexions and presents them in the form of a manual. 
    <a href="#" id="menu-item-print"</a>Download yours</a>, select all or filter by 
    <a href="{{ SITEURL }}/tags.html" id="menu-item-tags"</a>tags</a>.</p>
    <span><a href="{{ SITEURL }}/office.html">Want to know more about MAMA ?</a></span>
</section>