@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/poppins/poppins-medium-webfont.woff');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/poppins/poppins-mediumitalic-webfont.woff');
}

@font-face {
  font-family: 'PoppinsLight';
  font-weight: light;
  font-style: normal;
  src: url('../fonts/poppins/poppins-extralight-webfont.woff');
}

@font-face {
  font-family: 'PoppinsBlack';
  font-weight: light;
  font-style: normal;
  src: url('../fonts/poppins/poppins-black-webfont.ttf');
}

:root {
  --text-color: black;
  --border-width: 5px;
  --font-size-small: .75em;
}

* {
  color: var(--text-color);
}

body {
  font-family: 'Poppins';
  /*font-weight: 400;*/
  margin: 1em 1.5em;
  line-height: 1.35;
  font-size: 125%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  text-rendering: optimizelegibility;
  letter-spacing: -0.02em;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  font-size: 0.6em;
  list-style-type: none;
}

li #menu-item-office, li #menu-item-tags, li #menu-item-print{
  font-size: 130% !important;
}

p {
  margin:0;
}

p + p {
  margin-top: 1em;
}

h1 a {
  text-decoration: none;
}

#sticky-title {
  padding: 1em 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0em;
  z-index: 1;
  margin-bottom: 0;
  margin-top: -3em;
}


.filter-active #sticky-title {
  background: white;
}

.filter-list--expanded #sticky-title {
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	max-height: calc(100vh - 2em);
	background: white;
	margin-top: 0;
	padding-left: 1.5em;
  padding-right: 1.5em;
  overflow: auto;
}

body.filter-list--expanded {
  overflow: hidden;
}

#sticky-title h1 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 150%;
  line-height: initial;
  position: sticky;
  top: 0;
  z-index: 1;
}

#menu a.active {
  font-size: 150%;
}


#title + #sticky-title {
  margin-top: -2em;
}

#banner a:hover {
  font-weight: 200;
}

#title {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0em;
  --text-color: white;
  margin-left: -1.5em;
  margin-right: -1.5em;
  margin-top: -1.5em;
  background: black;
  padding: 0.5em 1.5em 2em 1.5em;

}

#menu {
  display: inline-block;
}

#menu ul {
  display: flex;
  list-style-type: none;
}

#menu li {
  flex: 0 0 auto;
  padding-left: 5px;
  padding-right: 5px;
}

#menu li:last-child {
  margin-left: auto;
}

#taglist {
  /* position: sticky; */
  /* top: 1.5em; */
  display: none;
}

#taglist .tag {
  text-decoration: none;
  color: var(--text-color);
  margin-right: 1em;
  display: none;
}

#taglist .tag.active, #taglist.show-all .tag {
  display: inline;
}

.filter-active #taglist:before {
  content: "Found " attr(data-post-count) " entries, filtered by tag(s):";
  padding-right: 1em;
}

.filter-active #taglist, #taglist.show-all {
  display: block;
}

#taglist.show-all {
  margin-bottom: 1em;
}

.show-all-toggle {
  display: inline-block;
  position: relative;
  top: -.25em;
  margin-left: 2em;
  font-size: 50%;
  padding: .25em 1em .25em 1em;
  border: 2px solid black;
  break-inside: avoid;
}

.show-all-toggle:before {
  content: "hide tags";
}

.filter-active .show-all-toggle:before {
  content: "show all tags"
}

.filter-active .show-all .show-all-toggle:before {
  content: "hide inactive tags";
}

.filter-list--expanded .show-all-toggle {
  font-size: 75%;
  position: fixed;
  top: 1.3em;
  right: 2.5em;
  z-index: 1;
  background: white;
}

#postlist article {
  /* min-height: 100vh; */
  padding-bottom: 5vh;
  padding-top: 5vh;
  margin-left: -1.5em;
  margin-right: -1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 5vh;
  padding-top: 80px;
  /* box-shadow: -5px 15px 25px grey; */
  /* padding-:5vh; */
}

.entry .metadata {
  margin: 2em 2em 1em 2em;
  max-width: 40em;
}

#mama-description {
  /* position: absolute; */
  /* left: 0; */
  /* right: 0; */
}

#mama-description a:hover, #mama-description a{
  text-decoration: underline;
  color: white;
}

#mama-description span{
  font-size: 0.75em;
}

#mama-description span a:hover, #mama-description span a{
  text-decoration: underline;
  color: white;

}

p {
  max-width: 35em;
}

h3 {
  max-width: 20em;
}

article.entry {
  counter-increment: entries;
}

.entry-content {
  text-align: center;
}

.entry-img {
  max-width: 90vw;
  max-height: 80vh;
}

.entry .metadata .content {
  display: none;
}

.entry[data-expanded="true"] .metadata .summary {
  display: none;
}

.entry[data-expanded="true"] .metadata .content {
  display: inline-block;
}

.entry .metadata .summary,
.entry .metadata .content {
  margin-bottom: .5em;
}

.entry .metadata .toggle {
  margin-bottom: 1em;
}

.entry .metadata .toggle:before {
  display: inline;
  cursor: zoom-in;
  content: "+ expand description";
}

.entry[data-expanded="true"] .metadata .toggle:before {
  cursor: zoom-out;
  content: "- collapse description";
}

.entry .metadata .tags {
  font-size: var(--font-size-small);
}

.entry .metadata .tags a {
  text-decoration: none;
  color: var(--text-color);
  margin-right: 1em;
}

.entry .metadata .tags a:last-child {
  margin-right: 0;
}

a.tag {
  position: relative;
}

#taglist a:hover,
a.tag.active,
.entry .metadata .tags a:hover {
  /* text-decoration: underline !important; */
  /* border-bottom: 2px solid black; */
  /* background: linear-gradient(to top, transparent 0.05em, currentcolor 0.05em, currentcolor 0.1em, transparent 0.1em) */
  background: linear-gradient(to top, transparent 0.02em, currentcolor 0.02em, currentcolor 0.16em, transparent 0.16em);
}

h3 {
  font-size: 175%;
  /*text-transform: uppercase;*/
  font-weight: 200;
  line-height: 1em;
}

li.active {
  font-weight: 200;
}

#back-to-top {
  font-family: 'Poppins';
  float: right;
  position: -webkit-sticky;
  position: sticky;
  bottom: 2em;
  font-size: 80%;
  padding: .25em 1em .25em 1em;
  border: 2px solid white;
  background-color: black;
  text-decoration: none;
  color: white;
}

/*office page styles */

.page.office {
  --text-color: white;
  background: black;
}

section.page-content .office-main {
  /*width: 90%;*/
  display: flex;
  flex-direction: column;
}

.page-content #office-main {
  width: 60%;
  display: inline-block;
  /*flex: auto;
  display: flex;
  flex-direction: column;*/
}

aside {
  width: 35%;
  float: right;
  font-size: var(--font-size-small);
}

.page-content #maintenance-as-research{
  margin-top: 4em;
}

section.page-content img, 
section.page-content object {
  width: 45%;
}

section.page-content.office img,
section.page-content.office object {
  width: 100%;
}
/* 
section.page-content.office .portraits object, section.page-content.office .portraits img {
    width: 100%;
} */


.page-content.office {
  padding: 0em 1.5em 2em 0em;
}

.page-content.office a{
  text-decoration: underline;
  color:white;
}

.page-content.office li{
  font-size: var(--font-size-small);
}

.page-content.office nav li {	
  font-size: initial;
}


.page-content.office h3 {
  text-transform: none !important;
  margin-bottom: 0.2em;
  padding-top: 2em;
}

.page-content.office em {
  font-size: 0.75em;
  line-height: 1em !important;
}

.page.office #mama-description {
  display: none;
}

img.logo,
section.page-content.office img.logo {
  max-height: 50px;
  width: initial;
}

@media (orientation: portrait) {
  #postlist article {
    min-height: auto;
  }
}

@media screen and (min-width: 950px) {
  /** Desktop */
  body {
    --border-width: 8px;
    /* font-size: 180%; */
  }

  #postlist article {
    display: flex;
    flex-direction: row;
  }

  .entry .entry-content {
    margin: 0 1.5em 0 0;
    flex: 2 0;
    position: -webkit-sticky;
    position: sticky;
    max-height: calc(100vh - 2em);
    top: 1em;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around;
  }

  .entry .metadata {
    margin: 0;
    flex: 1 0;
    min-width: 300px;
  }
}

@media screen and (min-width: 1400px) {
  body {
    font-size: 150%;
  }

  .entry .entry-content {
    flex: 3 0;
  }

  .entry .metadata {
    flex: 1 0;
  }
}

@media screen and (max-width: 800px) {
  /** Mobile? */
  body {
    font-size: 100%;
    line-height: 1.5;
    margin: .5em 1.5em .5em .5em;
  }

  #postlist article, #mama-description {
    margin-left: 0em;
    padding-left: 0em;
  }

  #sticky-title {
    padding-left: .5em;
  }

  .entry .metadata {
    margin: 1em 0.5em 1em 0.5em;
  }

  .page-content #office-main{
    width: 100%;
    display: block;
  }
  
  aside {
    width: initial;
    float: initial;
    max-width: 35em;
    font-size: initial;
  }

  #title {
    margin-left: -.5em;
    padding-left: 1em;
    padding-right: 1em;
  }

}


@page {
  size: 210mm 297mm;
  margin: 10mm 20mm 10mm 20mm;
}

#postlist #print-cover {
  display: none;
}

@media print {
  html, body, #postlist {
    margin: 0;
    padding: 0;
    font-size: 10.5pt;
  }

  #title, nav#menu, #mama-description, #taglist, #back-to-top, #sticky-title {
    display: none !important;
  }

  /**
   * Chrome seems not the calculate the pagemargin in the 100vh,
   * but firefox does.
   */
  #postlist article.entry, #postlist #print-cover {
    display: block;
    position: relative;
    /* height: calc(100vh - 31mm); */
    margin: 0;
    padding: 0 0 0 0;
    /* background: purple; */
    display: flex;
    flex-direction: column;
    height: calc(100vh - 36mm);
  }

  #postlist article.entry {
    page-break-before: always;
  }

  .entry .entry-content {
    width: 100%;
    padding-top: 0mm;
    height: calc(50% - 5mm);
    max-height: calc(50% - 5mm);
    /* background-color: yellow; */
  }

  .entry .entry-content:empty {
    display: none;
  }

  .entry-img {
    height: 100%;
    width: 80%;
    object-fit: contain;
    object-position: center center;
  }

  .entry .metadata {
    padding-top: 20mm;
    height: calc(50% - 20mm);
    max-height: calc(50% - 20mm);
    margin: 0;
    max-width: initial;
    display: block;
    hyphens: auto;
    columns: 2;
    column-gap: 10mm;
    column-fill: auto;
    /* background: red; */
  }

  .entry .metadata .content {
    display: block;
    margin-top: 0;
    /*font-size: 12pt;*/
    /* background: orange; */
    /* break-inside: avoid; */
    /* break-inside: avoid-column; */
    /* -webkit-column-break-inside: avoid; */
  }

  .entry .metadata .summary {
    display: none;
  }

  .entry .metadata .toggle:before {
    display: none;
  }

  .entry .tags {
    position: absolute;
    top: 50%;
    left: 0;
  }

  .entry .metadata .tags a  {
    margin-right: 0;
  }

  .entry .tags a.tag:after {
    content: ', ';
  }

  .entry .tags a.tag:last-child:after {
    content: '';
  }

  .entry .tags:before {
    content: "Tags: ";
  }

  .print-metadata {
    position: absolute;
    bottom: 15mm;
    left: 0;
  }

  .print-metadata a.tag.active {
    text-decoration: none !important;
  }
}
